@font-face {
    font-family: 'PuristaBold';
    src: url('../fonts/PuristaBold.otf')
}
@font-face {
    font-family: 'PuristaBoldItalic';
    src: url('../fonts/PuristaBoldItalic.otf')
}

@font-face {
    font-family: 'PuristaLight';
    src: url('../fonts/PuristaLight.otf')
}
@font-face {
    font-family: 'PuristaLightItalic';
    src: url('../fonts/PuristaLightItalic.otf')
}
@font-face {
    font-family: 'PuristaMedium';
    src: url('../fonts/PuristaMedium.otf')
}
@font-face {
    font-family: 'PuristaMediumItalic';
    src: url('../fonts/PuristaMediumItalic.otf')
}
@font-face {
    font-family: 'PuristaSemiboldItalic';
    src: url('../fonts/PuristaSemiboldItalic.otf')
}
@font-face {
    font-family: 'PuristaThin';
    src: url('../fonts/PuristaThin.otf')
}
@font-face {
    font-family: 'PuristaThinItalic';
    src: url('../fonts/PuristaThinItalic.otf')
}
body {
    margin: 0px;
    padding: 0px;
    font-family: "PuristaLight", Arial, Helvetica, sans-serif;
    background: url("http://amateurleaguecarball.com/assets/imgs/bg.jpg") no-repeat center center fixed; 
    background-size: cover;
}

header {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-bottom: solid 10px;
    background-color: rgba(10, 10, 10, 0.8);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    //& h1 {
    //    color: #FFF;
    //    font-size: 2.5em;
    //    text-shadow: 0 0 3px rgba(255, 255, 255, 0.67);
    //}
    & .score-panel {
        color: #FFF;
        padding: 1vh;
        font-size: 3em;
        border-radius: 10px;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.42);
        border: solid 3px rgba(255, 255, 255, 0.81);
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.92);
        & .score-orange {
            float: right;
            margin-left: 1vw;
            margin-right: 1vw;
            padding-left: 1vw;
            padding-right: 1vw;
            border-radius: 10px;
            padding-bottom: .7vh;
            border: solid 2px rgba(212, 0, 0, 0.76);
            background-color: rgba(253, 68, 0, 0.33);
            & span {
                color: orange;
                text-align: left;
                font-family: PuristaBoldItalic;
                text-shadow: 0 0 15px rgba(255, 98, 0, 0.92);
            }
        }
        & .score-blue {
            float: left;
            margin-left: 1vw;
            margin-right: 1vw;
            padding-left: 1vw;
            padding-right: 1vw;
            border-radius: 10px;
            padding-bottom: .7vh;
            border: solid 2px rgba(0, 70, 230, 0.28);
            background-color: rgba(3, 10, 186, 0.76);
            & span {
                color: #A2A2FF;
                text-align: right;
                font-family: PuristaBoldItalic;
                text-shadow: 0 0 15px rgba(134, 174, 250, 0.92);
            }
        }
        & .vs {
            margin: 5px;
            top: -150px;
            font-size: 1em;
            font-family: PuristaThinItalic;
        }
        & .team {
            font-size: 1.5em;
            font-family: PuristaThinItalic;
        }
        & .status {
            margin: 0;
            color: #00D800;
            font-size: .5em;
            text-shadow: 0 0 15px rgba(0, 255, 10, 0.79);
        }
        & .bestof {
            margin: 0;
            color: #E2FF00;
            font-size: .7em;
            text-shadow: 0 0 15px rgba(0, 255, 10, 0.79);
        }
        & .score-title {
            font-size: .5em;
            margin-bottom: 1vh;
        }
    }
}

button {
    color: #FFF;
    margin-top: 1vh;
    cursor: pointer;
    font-size: 1.2em;
    padding-top: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border-radius: 5px;
    padding-bottom: 1vh;
    transform: skewX(-20deg);
    border: solid 2px rgba(0, 0, 0, 0);
    background-color: rgba(10, 10, 10, 0.6);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.23);
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.67);
    &:hover {
        opacity: 0.7;
        border: solid 2px rgba(0, 137, 255, 0.56);
        box-shadow: 0 0 50px rgba(0, 118, 255, 0.72);
    }
    &:active {
        box-shadow: 0 0 150px rgba(0, 118, 255, 1);
    }
}

input[type="text"] {
    color: #FFF;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(10, 10, 10, 0.4);
    border: solid 2px rgba(10, 10, 10, 0.46);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.23);
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.67);
    &:focus {
        box-shadow: 0 0 100px rgba(0, 118, 255, 0.72);
    }
}

table {
    width: 100%;
    color: #EAEAEA;
    margin-top: 2vh;
    border: solid 2px;
    padding-top: .5vh;
    padding-left: 1vh;
    padding-right: 1vh;
    margin-bottom: 2vh;
    border-radius: 10px;
    padding-bottom: .5vh;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.56);
    & tr {
        border-bottom: solid 2px;
    }
}

a {
    color: #FFF;
    cursor: pointer;
    border: solid 1px;
    border-radius: 5px;
    padding-top: .05vh;
    padding-left: .5vw;
    padding-right: .5vw;
    padding-bottom: .4vh;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.95);
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.56);
    &:hover {
        color: #BDBDFC;
        text-shadow: 0 0 15px rgba(0, 69, 255, 0.92);
        box-shadow: 1px 1px 1px rgba(0, 10, 255, 0.56);
    }
    &:active{
        color: #FF0000;
        text-shadow: 0 0 15px rgba(0, 69, 255, 0.92);
        box-shadow: 1px 1px 1px rgba(255, 0, 0, 0.56);
    }
}

.grid-container {
    width: 100%;
}

/* Clearfix Hack */
.row:before, 
    .row:after {
        content:"";
        display: table ;
        clear:both;
}

[class*='col-'] {
    float: left; 
    min-height: 1px; 
    width: 16.66%; 
    /*-- our gutter -- */
    margin: .49vw; 
}

.col-1{ width: 15.66%; }
.col-2{ width: 32.33%; }
.col-3{ width: 49%;    }
.col-4{ width: 65.66%; }
.col-5{ width: 82.33%; }
.col-6{ width: 99%;   }

/*-- some extra column content styling --*/
[class*='col-'] > p {
    padding: 0;
    margin: 0;
    text-align: center; 
}

@media all and (max-width:800px){
    .col-1{ width: 33.33%;    }
    .col-2{ width: 50%;        }
    .col-3{ width: 83.33%;    }
    .col-4{ width: 100%;    }
    .col-5{ width: 100%;    }
    .col-6{ width: 100%;      }

    .row .col-2:last-of-type{
        width: 100%; 
    }

    .row .col-5 ~ .col-1{
        width: 100%; 
    }
}

@media all and (max-width:650px){
    .col-1{ width: 50%;        }
    .col-2{ width: 100%;    }
    .col-3{ width: 100%;    }
    .col-4{ width: 100%;    }
    .col-5{ width: 100%;    }
    .col-6{ width: 100%;      }
}
